
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    margin: 0;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  
  header, .hex-grid, .bottom {
    scroll-snap-align: start;
    scroll-snap-stop: always;  /* This prevents "skipping" multiple sections on fast scroll */
    height: 100vh;
  }
  
  body {
    background-color: #1a1a1a;
    color: #EEEEEE;
    font-family: "Titillium Web", sans-serif;
}
  
/* HEADER */
  header {
    width: 100%;
    height: 100vh;
    background: url('image1.jpeg') 35% 63% / 110% no-repeat;
    color: #EEEEEE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    transition: filter 0.5s ease;
  }
  
  header.blur {
    filter: blur(6px);
  }
  
  
  header::after {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Overlay for contrast */
  }
  
  header h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 5rem;
    letter-spacing: 4px;
    text-transform: uppercase;
  }
  
  header p {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  header.fade {
    opacity: 0;
    pointer-events: none;
  }

/* ARROW */

.scroll-arrow {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    color: #EEEEEE;
    opacity: 0.8;
    animation: bounce 2s infinite;
    z-index: 3;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translate(-50%, 0);
    }
    50% {
      transform: translate(-50%, 10px);
    }
  }

  .up-arrow, .bottom .up-arrow {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    color: #EEEEEE;
    opacity: 0.8;
    animation: bounce 2s infinite;
    animation-delay: 1s;
    z-index: 3;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translate(-50%, 0);
    }
    50% {
      transform: translate(-50%, 10px);
    }
  }
  

  
  section {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    padding: 2rem 1rem;
  }
  
  /* Hex Grid Container */
  .hex-grid {
    position: relative;
    width: 100%;
    height: 100vh;  /* Or try 150vh for more space */
    overflow: visible;
    padding-bottom: 5rem; /* Extra breathing room */
  }

  .hex {
    position: absolute;
    background-color: #373737c8;
    clip-path: polygon(
      25% 0%, 75% 0%, 100% 50%,
      75% 100%, 25% 100%, 0% 50%
    );
    color: #EEEEEE;
    text-align: center;
    padding: 2rem;
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .hex h2 {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.7rem;
  }

  .hex h1 {
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-family: 'Orbitron', sans-serif;
    font-size: 2.4rem;
  }
  
  .hex ul {
    margin: 0 1rem;
    align-items: left;
    font-family: "Titillium Web", sans-serif;
    font-size: 1.5rem;
    gap: 1rem; /* Space between icon and text */
  }

  .hex p {
    margin: 0 4rem;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Titillium Web", sans-serif;
    font-size: 1.4rem;
    margin-bottom: 2rem;
    line-height: 2.5rem;
  }
  
  
  .hex a {
    text-decoration: none;
    cursor: pointer;
    color: EEEEEE;
  }
  
  .hex a:hover {
    text-decoration: underline;
    color: #D84040;
    text-shadow: 0 0 1px #EEEEEE;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    margin: 0.5rem 0;
  }

  .about {
    width: 45vw;
    height: 40vw;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
  }

/* CONTACT HEX */
  .contact {
    width: 30vw;
    height: 25vw;
    top: 5%;
    left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Left-align the content */
    padding: 2rem;
    gap: 1.5rem; /* Space between each item */
  }
  
  .contact h2 {
    align-self: center; /* Keep the title centered */
    margin-bottom: 1rem;
  }
  
  .contact-item {
    display: flex;
    align-items: center;
    gap: 1rem; /* Space between icon and text */
    margin-left: 4rem;
    margin-top: .5rem;
  }
  
  .contact-item img {
    width: 1.8rem;    /* Controls the size */
    height: auto;     /* Keeps the original aspect ratio */
  }
  
  .contact-item a {
    color: #D84040;
    text-decoration: none;
    transition: text-shadow 0.3s;
    font-family: "Titillium Web", sans-serif;
    font-size: 1.3rem;
  }
  
  .contact-item a:hover {
    color: #8E1616;
    text-shadow: 0 0 7px #EEEEEE;
  }
  
  
  .mixes {
    width: 30vw;
    height: 25vw;
    bottom: 5%;
    right: 1rem;
  }
  

  .mixes a.mix-link {
    font-family: "Titillium Web", sans-serif;
    font-size: 1.3rem;
    color: #D84040;
    text-decoration: none;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
  }
  
  .mixes a.mix-link:hover {
    color: #8E1616;
    text-shadow: 0 0 7px #EEEEEE;
  }
  
  .mix-quote p {
    font-size: 0.9rem;
    font-family: 'Titillium Web', sans-serif;
    font-style: italic;
    color: #EEEEEE;
    line-height: 1.4rem;
    text-align: center;
    margin: 0.3rem 1rem;
  }
  
  .quote-attribution {
    font-size: 0.8rem;
    opacity: 0.7;
  }
  

  .image-top-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    height: 60vh;
    background: url('image4.jpeg') center/cover no-repeat;
    z-index: 0;
    filter: grayscale(100%);
    mask-image: 
      linear-gradient(to top, transparent 5%, black 40%),
      linear-gradient(to bottom, transparent 5%, black 40%),
      linear-gradient(to left, transparent 5%, black 40%),
      linear-gradient(to right, transparent 5%, black 40%);
    mask-composite: intersect;
    -webkit-mask-composite: destination-in;
    mask-repeat: no-repeat;
  }
  
  .image-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50vw;
    height: 60vh;
    background: url('image2.jpeg') center/cover no-repeat;
    z-index: 0;
    filter: grayscale(100%);
    mask-image: 
      linear-gradient(to top, transparent 5%, black 40%),
      linear-gradient(to bottom, transparent 5%, black 40%),
      linear-gradient(to left, transparent 5%, black 40%),
      linear-gradient(to right, transparent 5%, black 40%);
    mask-composite: intersect;
    -webkit-mask-composite: destination-in;
    mask-repeat: no-repeat;
  }

  .bottom {
    height: 100vh;
    display: flex;
    justify-content: center; /* Horizontal center */
    align-items: center;    /* Vertical center (to center content-wrapper) */
    padding: 6rem 0;
  }
  
  .last-info {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
    padding: 2rem;
    flex-grow: 1; /* Let it grow to center itself */
  }  

  .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Full height of bottom section */
    width: 100%;
    max-width: 1200px;
  }
  
  
  .availability, .booking {
    flex: 0 1 40%; /* For availability */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 2rem;
    box-sizing: border-box;
    background-color: #1D1616;
    color: #EEEEEE;
    border-radius: 1rem;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.2);
  }
  
  .booking {
    flex: 0 0 60%;
    border-radius: 1rem;
    padding: 3rem 2rem;
    color: #EEEEEE;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;     /* This centers content horizontally */
    min-height: 500px;
    box-sizing: border-box;
  }


  .availability h2{
    font-family: 'Orbitron', sans-serif;
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 2rem;
    width: 100%;
  }

  .availability p {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 1rem;
    text-align: left;
    font-family: "Titillium Web", sans-serif;
    font-size: 1.1rem;
    line-height: 1.6rem;
    margin: 0.5rem 2rem;
  }
  
  .availability p strong {
    color: #D84040;
    min-width: 8rem;  /* Adjust this for spacing */
    text-align: left;
  }
  
  .availability p span {
    color: #EEEEEE;
  }
  
  
  .booking h2 {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.7rem;
    margin-bottom: 2rem;
  }
  
  .booking form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .booking form input,
  .booking form textarea {
    padding: 0.9rem;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-family: "Titillium Web", sans-serif;
  }
  
  .booking form textarea {
    min-height: 200px;
  }
  
  .booking form button {
    background-color: #D84040;
    color: #EEEEEE;
    padding: 0.9rem;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Orbitron", sans-serif;
  }
  
  .booking form button:hover {
    background-color: #8E1616;
  }
  
  .booking .up-arrow {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5rem;
    color: #EEEEEE;
    opacity: 0.8;
    animation: bounce 2s infinite;
    animation-delay: 1s;
    z-index: 3;
  }
  
  footer {
    text-align: center;
    color: #EEEEEE;
    font-size: 0.9rem;
    padding: 1rem;
  }
  


  @media (max-width: 760px) {
    /* Remove scrolling lock */
    html, body {
      height: auto;
      overflow-x: hidden;
      scroll-snap-type: none;
    }
  
    header, .hex-grid, .bottom {
      height: auto;
      scroll-snap-align: none;
    }
  
    header {
      height: 60vh;
      background-size: cover;
      background-position: center;
      text-align: center;
      background: url('image1.jpeg') 35% 93% / 140% no-repeat;
    }

    /* Header text smaller */
    header h1 {
        font-size: 2.5rem;
    }
    
    header p {
        font-size: 1.2rem;
    }
    
    /* Center About BLUMP content */
    .about {
        width: 90%;
        height: auto;
        top: auto;
        left: auto;
        transform: none;
        margin: 0 auto;
        text-align: center;
    }
    
    .about h1 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }
    
    .about p {
        font-size: 1rem;
        margin: 0.5rem 0;
        line-height: 1.6rem;
    }

      
    .hex-grid {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      padding: 2rem 1rem;
    }
  
    .hex {
      position: static;
      width: 90%;
      height: auto;
      clip-path: none;
      background: #373737;
      border-radius: 1rem;
      padding: 1.5rem;
      box-shadow: 0 0 15px rgba(255,255,255,0.1);
    }
  
    .hex h1, .hex h2 {
      text-align: center;
    }
  
    .hex p {
      margin: 1rem 0;
      line-height: 1.6rem;
      font-size: 1rem;
    }
  
    .contact-item {
      margin-left: 0;
      justify-content: center;
    }
  
    .contact-item img {
      width: 1.2rem;
    }
  
    .mixes .mix-quote {
      margin: 1rem 0;
    }
  
    .mixes a.mix-link {
      display: block;
      margin: 0.5rem 0;
      text-align: center;
    }
  
    .image-top-right,
    .image-bottom-left {
      position: static;
      width: 100%;
      height: 200px;
      margin: 1rem 0;
      background-size: cover;
      background-position: center;
      mask-image: none;
      -webkit-mask-image: none;
    }
  
    .bottom {
      height: auto;
      padding: 2rem 1rem;
    }
  
    .last-info {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }
  
    .availability, .booking {
      width: 90%;
      min-height: auto;
    }

    .availability p {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
        margin: 1rem 0;
      }
    
      .availability p strong {
        min-width: unset;
        text-align: left;
      }
    
      .availability p span {
        display: block;
        margin-left: 0;
      }
    
      .availability {
        padding: 1rem;
        text-align: left;
      }
  
    footer {
      margin-top: 2rem;
      padding: 1rem;
      font-size: 0.8rem;
    }
  
    .up-arrow, .scroll-arrow {
      display: none;
    }
  }
  